@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


:root{
    --cor-1:  #526A5A;   
    --cor-2: #E0DACB;   
    --cor-3: #C49A6C;   
    --cor-hov: #56675D;

    --fonte-1: "EB Garamond", serif;
    --fonte-2: "Lora", serif ;
}
.modo-escuro {
  --cor-fundo: #1b231e; 
  --cor-detalhe: #EDE9DF; 
  --cor-texto: #C49A6C; 
  --cor-hov: #556B5B; 
}
*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}

body{
    /*background-image: url("/assets/assets/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: var(--cor-1);
    color: var(--cor-2);
    box-sizing: border-box;
    transition: background-color 0.4s ease, color 0.4s ease;
}
body.modo-escuro {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}
body.modo-escuro .tema-btn {
  background-color: var(--cor-texto);
  color: var(--cor-fundo);
}
.menu{
    
    padding: 2% 0% 0% 15%;
    gap:10%;
    
}
.menu_nav{
    display: flex;
    gap:5rem;

}
.menu_home{
    text-decoration: none;
    font-family: var(--fonte-1);
   font-size: 1.5rem;
   color:var(--cor-3);
}
.menu_home:hover{
    color:var(--cor-hov)(180, 72%, 83%)
}
.conteiner{
    display:flex;
    justify-content: space-between;
    margin:10%;
    gap:15%;
    align-items: center;
    padding: 5%, 15%;
}
.conteiner-titulo{
    font-family: var(--fonte-1);
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 2.25rem;
  
} 
.destaque{
    color: var(--cor-3);
    font-family: var(--fonte-1);
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 2.25rem;
}
.conteiner_texto{
    font-family: var(--fonte-2);
    justify-content: center;
}
.apresentaçao__imagen{
    width: 50%;
    border-radius: 5%;
    
    
}
.botoes_links{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
   
}
.subtitulo{
    font-family:'Courier New', Courier, monospace;
    font-size: 2rem;
    font-family: var(--fonte-1);
    color:var(--cor-3)
}
.botoes_links_link{
   background-color: var(--cor-1);
   border:2px solid var(--cor-3);
   text-decoration: none;
   font-size: 1.5rem;
   color: var(--cor-2);
   padding: 2%;
   border-radius: 5px; 
   gap: 16px;
   display: flex;
   justify-content: center;
   font-family: var(--fonte-1);
}

.botoes_links_link:hover{
    background-color: var(--cor-hov);
   
}
.rodape{
    background-color: var(--cor-2) ;
    font-family:'Courier New', Courier, monospace;
    color: var(--cor-1);
    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    font-family: var(--fonte-1);
}

.btnD{
    margin-left: 95%;
    padding:0.3%;
    border-radius: 1em;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--cor-1);
    color: var(--cor-2);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 22px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.tema-btn:hover {
  transform: rotate(20deg) scale(1.1);
}




@media (max-width: 1200px) {
    .menu{
        padding: 15%;
    }

    .menu_nav{
        justify-content: center;
    }

    .conteiner{
        flex-direction:column-reverse;
        padding:5%;
    }
    .apresentaçao{
        width: auto;
    }
    .apresentaçao__imagen{
        width: auto;
    }
}

